p {
  font-family: Lato;
}
h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 6em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 605px;
}
.flexbox-container {
    margin-top: 15px;
    padding: 15px;
}
.navbar-nav .nav-link.active-menu {
  border-bottom: 2px solid #fff;
  color: #fff;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label {
  outline: thin dotted;
}
input.visually-hidden:focus-within + label {
  outline: thin dotted;
}
.sample-code-frame {
  border: 2px solid #1e7f9d;
  border-left: 6px solid #00458b;
  margin: 0 0 12px;
  padding: 0 12px;
  width: 100%;
}