body {  font-family: Merriweather;  font-weight: normal;}
h1 { font-family: Merriweather; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: Merriweather; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: Merriweather; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: Merriweather; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Merriweather; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
.flexbox-container {
    margin-top: 15px;
    padding: 15px;
}
.navbar-nav .nav-link.active-menu {
  border-bottom: 2px solid #fff;
  color: #fff;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label {
  outline: thin dotted;
}
input.visually-hidden:focus-within + label {
  outline: thin dotted;
}
.sample-code-frame {
  border: 2px solid #1e7f9d;
  border-left: 6px solid #00458b;
  margin: 0 0 12px;
  padding: 0 12px;
  width: 100%;
}